
/* todos elementos "*" */
/* padding = margens internar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
}

header{
    background-color: rgb(252, 149, 194);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* width = redimenciona a imagem*/
header img {
    width: 180px;
    border-radius: 11px;
}

/* list-style none = remover bolinhas da lista*/
header nav ul {
    list-style: none;
    display: flex;
}

/*li + li = ele so vai fazer a ação se o li estiver anteiormente de um li */
header ul li + li {
    margin-left: 24px;
}

/* text-decoration: none = remover linha dbaixo dos links*/
header a {
    color: rgb(250, 241, 248);
    text-decoration: none;
    transition: color 0.2s;
}

/*:hover = ele so vai fazer a ação se o mouse passar por cima */
header a:hover {
    color: rgb(240, 75, 127);
}

.kon {

    height: 320px;
    padding: 24px;
    background-size: contain;
    background-image: url(../Imagens/Banner\ Site.jpg);
    background-position: center 25%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.kon h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.dots span {
    display: inline-block;
    background-color: rgb(255, 255, 255);

    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.gallery{
    background-color: rgb(239, 198, 223);
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 24px;
}

.gallery h2 {
    padding-top: 8px;
    border-left: 4px solid rgb(244, 12, 135);
    padding-left: 8px;
    color: rgb(244, 12, 135);
    margin-bottom: 32px;
}

.gallery p {
    font-weight: bold;
}

.gallery-row{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.gallery-row div{
    flex: 1 1 250px;
}

.gallery-row img{
    width: 100%;
    border-radius: 11px;
    margin-bottom: 16px;
}