h1{
    color: blue;
    font-size: 66px;
}

h2{
    color: red;
}

/* 4) Múltiplos seletores --> Você pode especificar múltiplos seletores, separando-os com virgula.*/

h4,
h5,
header a {
    color: rgb(67, 182, 254)
}

